# Lists

##### List is a collection data type which is ordered and mutable. Unlike Sets, Lists allow duplicate elements. They are useful for preserving a sequence of data and further iterating over it. Lists are created with square brackets.

    my_list = ["icecream", "juice", "sprite"]

In [18]:
my_list = ["icecream", "juice", "sprite"]
print(my_list)

['icecream', 'juice', 'sprite']

In [24]:
# Access elements of a list
my_list[0], my_list[2], my_list[-1]

('icecream', 'coke', 'coke')

In [25]:
# change items in a list
my_list[-1] = "coke"
my_list

['icecream', 'juice', 'coke']

In [26]:
# Append one item to list
my_list.append("Sprite")
my_list

['icecream', 'juice', 'coke', 'Sprite']

In [27]:
# pop - removes last item from a list and returns it
popped_item = my_list.pop()
popped_item

'Sprite'

In [34]:
# count occurenace of an item
my_list.count('coke')

1

In [35]:
# remove an item from a list
my_list.remove('coke')

In [36]:
my_list.count('coke')

0

In [37]:
my_list

['icecream', 'juice']

In [44]:
# reverse my list items
my_list.reverse()
my_list

['juice', 'icecream']

In [45]:
# sort list items
my_list.sort()
my_list

['icecream', 'juice']

In [46]:
# clear a list
my_list.clear()
my_list

[]

In [47]:
my_list = ["icecream", "juice", "sprite"]

In [48]:
# proper way to copy a list
my_list2 = my_list

In [50]:
my_list2.append('coke')
my_list2

['icecream', 'juice', 'sprite', 'coke']

In [51]:
my_list

['icecream', 'juice', 'sprite', 'coke']

In [52]:
my_list3 =  my_list.copy()
my_list3.clear()
print(my_list, my_list3)

['icecream', 'juice', 'sprite', 'coke'] []

In [53]:
# iterating through a list
for i in my_list:
    print(i)

icecream
juice
sprite
coke

In [54]:
if 'coke' in my_list:
    print(True)
else:
    print(False)

True

In [57]:
# List comprehension
my_list4 = [1,2,3,4,5,6]
# square each element of list
print([i**2 for i in my_list4])

[1, 4, 9, 16, 25, 36]

In [58]:
# Sclicing
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = a[1:3] # last index is not included
print(b)

[2, 3]

In [59]:
a[2:] # until the end

[3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
a[:3] # from beginning

[1, 2, 3]

In [61]:
a[0:3] = [0] # replace multiple items with custom items using index
a

[0, 4, 5, 6, 7, 8, 9, 10]

In [64]:
a[::2] # start to end with every second item

[0, 5, 7, 9]

In [65]:
a[::-1] # reverse the list

[10, 9, 8, 7, 6, 5, 4, 0]

In [66]:
b = a[:] # copy a list with slicing. Doesn't affect orginal list

In [67]:
b.clear()
print(b, a)

[] [0, 4, 5, 6, 7, 8, 9, 10]